<div class="container-whole"><br>
  <div class="container-cocktail">
    <h1><%= @cocktail.name %></h1>
    <div class="cards-cocktail">
      <p><% @cocktail.doses.each do |dose|%></p>
        <div class="card-cocktail">
          <p>Ingredient: <%= dose.ingredient.name%></p>
          <p>Amount:<%= dose.description %></p>
          <p><%= link_to 'Delete ingredient', dose_path(dose),  method: :delete, class: "btn btn-danger" %></p>
        <% end %>
      </div>
    </div>
  </div>


  <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill, class: "cocktail-image" %>

  <div class="container-2">
    <div class="row">
      <div class="col-sm-6">
        <h1>Add ingredients</h1>
        <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.association :ingredient, label: 'Ingredient:'%>
        <%= f.input :description, label: 'Amount'%>


        <%= f.submit class: "btn btn-primary" %>
        <% end %>
        <br>
        <%= link_to 'Back to cocktail list', cocktails_path, class: "btn btn-info" %>
      </div>
    </div>
  </div>
</div>

